<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="form">
    <ion-item>
        <ion-label floating >Nome da sua empresa:</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.durty || form.controls.nome.touched)" color="danger">
      <span [hidden]="!form.controls.nome.errors.required">
        O campo é obrigatório
      </span>    
    </ion-item>

    <ion-item>
        <ion-label floating>Telefone:</ion-label>
        <ion-input type="tel" formControlName="telefone"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.telefone.valid && (form.controls.telefone.durty || form.controls.telefone.touched)" color="danger">
      <div [hidden]="!form.controls.telefone.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <ion-label floating>Cnpj:</ion-label>
      <ion-input type="text" formControlName="cnpj"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.cnpj.valid && (form.controls.cnpj.durty || form.controls.cnpj.touched)" color="danger">
      <div [hidden]="!form.controls.cnpj.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <ion-label floating>Tipo do estabelecimento:</ion-label>
      <ion-label floating style="font-size: 12px;">Ex: Restaurante, Boutique...</ion-label>
      <ion-input type="text" formControlName="tipo_estab"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.tipo_estab.valid && (form.controls.tipo_estab.durty || form.controls.tipo_estab.touched)" color="danger">
      <div [hidden]="!form.controls.tipo_estab.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <ion-label floating>É vegano ou vegetariano?</ion-label>
      <ion-input type="text" formControlName="tipo_veg"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.tipo_veg.valid && (form.controls.tipo_veg.durty || form.controls.tipo_veg.touched)" color="danger">
      <div [hidden]="!form.controls.tipo_veg.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <ion-label floating>CEP:</ion-label>
      <ion-input type="text" formControlName="cep"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.cep.valid && (form.controls.cep.durty || form.controls.cep.touched)" color="danger">
      <div [hidden]="!form.controls.cep.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <ion-label floating>Endereço:</ion-label>
      <ion-input type="text" formControlName="endereco"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.endereco.valid && (form.controls.endereco.durty || form.controls.endereco.touched)" color="danger">
      <div [hidden]="!form.controls.endereco.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <ion-label floating>Numero:</ion-label>
      <ion-input type="text" formControlName="numero"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.numero.valid && (form.controls.numero.durty || form.controls.numero.touched)" color="danger">
      <div [hidden]="!form.controls.numero.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <ion-label floating>Horario de atendimento:</ion-label>
      <ion-input type="text" formControlName="horario_atendimento"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.horario_atendimento.valid && (form.controls.horario_atendimento.durty || form.controls.horario_atendimento.touched)" color="danger">
      <div [hidden]="!form.controls.horario_atendimento.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <ion-label floating>Descreva sobre seu estabelecimento:</ion-label>
      <ion-textarea type="text" formControlName="descricao"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="!form.controls.descricao.valid && (form.controls.descricao.durty || form.controls.descricao.touched)" color="danger">
      <div [hidden]="!form.controls.descricao.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <ion-label floating>Url Facebook:</ion-label>
      <ion-input type="text" formControlName="facebook"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.facebook.valid && (form.controls.facebook.durty || form.controls.facebook.touched)" color="danger">
      <div [hidden]="!form.controls.facebook.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
        <ion-label floating>Url Site:</ion-label>
        <ion-input type="text" formControlName="site"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.site.valid && (form.controls.site.durty || form.controls.site.touched)" color="danger">
      <div [hidden]="!form.controls.site.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <ion-label floating>Email:</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.durty || form.controls.email.touched)" color="danger">
        <div [hidden]="!form.controls.email.errors.required">
          O campo é obrigatório
        </div>    
      </ion-item>

    <ion-item>
        <ion-label floating>Senha:</ion-label>
        <ion-input type="text" formControlName="senha"></ion-input>
    </ion-item>

    <ion-item *ngIf="!form.controls.senha.valid && (form.controls.senha.durty || form.controls.senha.touched)" color="danger">
      <div [hidden]="!form.controls.senha.errors.required">
        O campo é obrigatório
      </div>    
    </ion-item>

    <ion-item>
      <button ion-button  color="primary" style="margin-top: 15px; left: 15px;" icon-left>
        <ion-icon name="ios-cloud-upload-outline"></ion-icon>

        Inserir foto
      </button>
    </ion-item>

    <div padding>
      <button ion-button round color="light" type="submit" [disabled]="!form.valid" (click)="onSubmit()"  style="left: 90px;">
          Cadastrar
      </button>
    </div>

  </form>
   
</ion-content>
